@charset "utf-8";

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, select, input, textarea, th, td {margin:0; padding:0;}

body {height:100%; font-family:'NBG', sans-serif; font-size:14px; color:#444;}

img {border:none; vertical-align:top;}

ul li , ol li {list-style:none;}

fieldset {border:none;}

table {border-collapse:collapse;}
caption {overflow:hidden; width:0; height:0; font-size:0; line-height:0;}

img, fieldset, button { border:0; padding:0px;}
button {background:none;}
input{-webkit-appearance:none; -webkit-border-radius:0;}
input, select {vertical-align:middle;}
legend {width:0; height:0; font-size:0; position:absolute; overflow:hidden;}

a {color:#555; text-decoration:none; cursor:pointer;}
a:link {color:#555;}
a:visited {color:#555;}
a:active {color:#555;}

body{font-family: 'Times New Roman', Times, serif;}
#header{width: 1034px;}
#header > h1{color:steelblue; border-bottom: 1px dashed black;}
#main{border-bottom: 1px dashed black; width: 1034px; height: auto; display:flex;}
#main > #left{overflow: visible;}
#main > #left > p{font-size: 16px; margin: 10px 0px 20px 0px; overflow: visible;}
#main > #right{margin: 10px 0px 10px 60px}
#main > #right > img{padding: 10px; border: black solid 1px;}
#main > #right > p{line-height:20px ;background-color: rgb(191, 247, 247); border: rgb(6, 181, 194) dashed 1px; margin-top: 15px; font-size: 14px;}
#footer{margin-top: 10px;}
